
rest-real/mongo/books.dia~
rest-real/asp/BooksProiektua/.vs/BooksProiektua/config/applicationhost.config
rest-real/asp/BooksProiektua/.vs/BooksProiektua/v16/.suo
rest-real/asp/BooksProiektua/.vs/BooksProiektua/config/applicationhost.config
