
@{
    ViewBag.Title = "Index";
}
<div class="main">
    <h2>Index</h2>

    <ul>
        <li>@Html.ActionLink("Select", "Select")</li>
        <li>@Html.ActionLink("Insert", "InsertForm")</li>

    </ul>
</div>