@model IEnumerable<BooksProiektua.Models.Book>

@{
    ViewBag.Title = "SelectGenre";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <table class="table table-dark table-striped" style="font-size:18px; margin-top:50px;">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Image
                </th>
                <th>
                    Author
                </th>
                @if (BooksProiektua.Models.User.loged == true)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.title, "SelectOne", new { num = item.num })
                    </td>
                    <td>
                        @{String image = item.imageLink;}
                        <img class="image" src="~/@image" alt="" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.author)
                    </td>
                    @if (BooksProiektua.Models.User.loged == true)
                    {
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { num = item.num })
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
</body>

